{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true
  },
  "extends": [
    "airbnb",
    "prettier"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12
  },
  "plugins": [
    "react",
    "prettier"
  ],
  "rules": {
    "no-unused-vars": "error",
    "react/no-array-index-key": 0,
    "react/button-has-type": 0,
    "import/prefer-default-export": 0,
    "react/jsx-props-no-spreading": 0,
    "react/jsx-filename-extension": [1, {
      "extensions": [".js", ".jsx"]
    }],
    "no-console": 0
  },
  "overrides": [
    {
      "files": ["webpack.*.js", "setupTests.js"],
      "rules": {
        "import/no-extraneous-dependencies": 0,
        "no-console": 0
      }
    }
  ]
}
